<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Client</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
